{% extends "base.html" %}
{% load static %}
{%block body%}
{% for product in data %}
    <div>
        
        
        
        <form method="POST" action="/cart/{{product.Name}}">
            {% csrf_token %}
            <div class="mb-3">
                {{product.Name}}
            </div>
            <div class="mb-3">
                {{product.Description}}
            </div>
            <div class="mb-3">
                {{product.price}}
            </div>
            <div>
                <img src="{% static product.Name %}" height="200" width="300">
            </div>
            
            <button type="submit" >ADD</button></br></br>
        </form>
        
    </div>

{% endfor %}
<form method="POST" action="/checkout">
    {% csrf_token %}
    <button type="Submit" >Checkout</button>
</form>
{%endblock body%}